/* CUSTOM SIMPSONS FONT from here: http://www.dafont.com/font-comment.php?file=simpsonfont&text=%2A+Simpsons*/
@font-face {
  font-family: 'Simpsonfont';
  src: url('../font/Simpsonfont.ttf')  format('truetype');
}

/* CLEARFIX HACK from here: https://css-tricks.com/snippets/css/using-font-face/*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background: #16b2d9;
  font-family: 'Simpsonfont', sans-serif;
}

#game-title {
  font-size: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background: #ffd90f;
  position: absolute;
  top: 2.5%;
  left: 50%;
  margin-left: -300px;
  padding: 50px 0 25px;
  text-align: center;
  width: 600px;
}

#objective {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  width: 602px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -301px;
}

#play-btn {
  font-family: 'Simpsonfont', sans-serif;
  background: #ffd90f;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
  border-radius: 10px;
  font-size: 25px;
}
#replay-btn {
  font-family: 'Simpsonfont', sans-serif;
  background: #ffd90f;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -50px;
  border-radius: 10px;
  font-size: 25px;
}

#timer {
  background: #ffd90f;
  border: 1px solid black;
  width: 250px;
  height: 100px;
  position: absolute;
  top: 4%;
  right: 40px;
  border-radius: 10px;
}
#counter {
  font-size: 65px;
  text-align: center;
  padding: 25px;
}

.bart {
  position: absolute;
  width: 35px;
  height: 53px;
  display: inline-block;
  z-index: 1;
  top: 200px;
  left: 500px;
}

#game-area {
  background: black;
  background-size: cover;
  padding: 20px;
  width: 950px;
  height: 460px;
  border: 1px solid black;
  position: absolute;
  top: 165px;
  left: 50%;
  margin-left: -495px;
}

.skinner {
  position: absolute;
  background-image: url(../img/Sprite_Sheet.png);
  width: 47px;
  height: 56px;
  background-position: -182px -269px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
}
